; events module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/events
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[events_event]
description = "Public event or year/category overview of events"
brick = "request event *"
group = public

[events_events]
description = "Calendar overview"
brick = "request events"
group = public

[events_events_yearly]
description = "Annual overview of events"
brick = "request events *"
group = public

[events_ics]
description = "ICS calendar download on website"
brick = "request ics *"
group = public
condition_if_lib = icalcreator

[events_internal]
description = "Events on internal website"
brick = "forms events"
group = "read and write"

[events_internal_event]
description = "Internal page of an event"
brick = "request eventinternal *"
group = "read and write"

[events_project]
description = "Project page"
brick = "request project *"
group = public

[events_projects]
description = "Overview of projects"
brick = "request projects"
group = public

[events_projects_internal]
description = "Internal list of projects"
brick = "forms projects"
group = "read and write"
